#Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized.

#Some of the popular languagesthat Data Scientists use are:

1. Python
2. R
3. SQL

#Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Matplotlib
3. scikit-learn

#Data Science Tools

|Data Science Tools|
|------------------|
|Numpy|
|scikit-learn |
|keras|

### Below are a few examples of evaluating arithmetic expressions in Python

a= 10\
b= 20\
a + b

In [41]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [42]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

__# Objectives:__

- Python
- R
- SQL

## Author
Kusaraju Ruthala